*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__bar { padding: 0.7rem;font-size: 0.8rem;text-align: center;background-color:#111111;color: #ffffff;font-family: sans-serif; }
.header__bar marquee{
    display: inline;

}
.navbar{
    /* position: fixed; */
    width: 90%;
    margin-left: 5%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


.menu-links ul{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    list-style: none;
    gap: 23px;
}
.icons i{
     
    margin-left: 20px;
    /* margin-left: 100px; */
}
.icons a{
     
    color: black;
}


.menu-links a{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: black;
    transition: 1s ease;
}

.menu-links a:hover{
    color: #EC5A33;
}

.TextSection{
    margin-top: 20px;
}
.content{
    text-align: center;
}
.content a{
    color: black;
}
.section2{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(52, 50, 50);
    
}
.section2 p{
    color: gray;
    font-weight: bold;
}
.section3{
    margin-top: 60px;
    color: rgb(22, 22, 22);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}

/* code  */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child{
   background-color: rgb(120, 120, 120);
   border-radius: 45px;
   height: 550px;
   width: 400px;
   margin: 20px;
   margin-top: 60px;
}
.card a{
    text-decoration: none;
    color: #111111;

}
.card a button {
    cursor: pointer;
    height: 40px;
    width: 95px;
    background-color: orangered;
    font-family:  Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 30px;
    
}
.card a button:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
    transition: 0.5s ease;
}

.section4 h1{
    margin-top: 60px;
    color: rgb(65, 62, 62);
    font-family:  Arial, Helvetica, sans-serif;
}
.section4 h3{
    color: rgb(65, 62, 62);
    font-family:  Arial, Helvetica, sans-serif;
}
.section4 p{
   font-size: larger;
   color: black;
   font-weight: bold;
   font-family:  Arial, Helvetica, sans-serif;
}
.section4{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
/* .imgcenter{
    margin-top: 60px;
    text-align: center;
    border-radius: 50px;
    width: 100%;
} */
.newcoll{
    text-align: center;  
}
.newcoll h1{
    font-size: 45px; 
    font-family:  Arial, Helvetica, sans-serif;
}
.newcoll h2{
    font-size: 70px; 
    color: #EC5A33;
    font-family:  Arial, Helvetica, sans-serif;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.btn a button{
    border: none;
    color: #fff;
    height: 70px;
    width: 150px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 40px;
    background-color: orangered;
    cursor: pointer;
}
.btn a button:hover{
    background-color: #fff;
    border: 2px solid black;
    transition: 0.4s ease;
    color: #111111;
}

/* footer  */
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 30px;
    background-color: gray;
    height:350px;
    width: 100%;
}

.footer h1{
    font-family:Arial, Helvetica, sans-serif;
}
.socialicon{
    display: flex;
    gap: 20px;
}
.socialicon a{
    color:black;
}